@tailwind base;
@tailwind components;
@tailwind utilities;

 

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


body,
html {
  height: 100%;
  margin: 0; 
}

body:has(#modal-root .modal-backdrop) {
  overflow: hidden;
}
 

.modal-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modal {
  width: fit-content;
  height: auto; 
  border: none; 
  background-color: white;
  padding: 15px;
  margin: 50px auto;
  position: relative;  
}

.close-button {
  position: absolute;
  top: 1px;
  right: 10px;
  width: 48px;
  height: 48px;
  background-color: transparent;
  border: none;
  border-radius: 15px; /* Circular shape */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  z-index: 200;
  font-size: 24px; /* Adjust font size as needed */
}

.close-button:hover {
  background-color: #eee;
}

.close-button:after {
  content: 'x';
  color: black;
}
